body {
	margin: 0;
	padding: 0;
}

.charlist {
	display: inline-block;
	width: 100%;
}

.char {
	background: #002051;
	border-radius: 5px;
	border: 5px solid #919267;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	padding: 5px;
}
.char .face {
	
}
.char .name {
	display: block;
	color: #FFF;
	font-family: 'robotoregular';
	font-size: 25px;
	font-weight: bold;
}

.char .info {
	display: inline-block;
	vertical-align: top;
	color: #EDC152;
	font-family: 'robotoregular';
}
.char .info span {
	color: #FFF;
}
.char .battler {
	display: inline-block;
	vertical-align: top;
	width: inherit;
	min-height: 220px;
}
.char .battler img {

}
.char .sprite {

}