body {
	background: #000;
	text-align: center;
	margin: 0;
	padding: 0;
}

.canvas {
	display: inline-block;
	width: 859px;
	height: 571px;
	margin-top: 5%;
	position: relative;
}

.start-screen {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
}

.home {
	position: relative;
	width: 100%;
	height: 100%;
	background: url("../img/grass.jpg") repeat;
}

.battle {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	background: url("../img/pokebattleback.png") repeat;
}

h1 {
	font-size: 40px;
	margin: 20px 0;
	color: #603A03;
}

#container {
	width: 950px;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#jogador {
	width: 48px;
	height: 64px;
	position: absolute;
	top: 240px;
	left: 160px;
	background: url("../img/trainers/red.png");
}

.pokemon {
	background-repeat: no-repeat;
	background-size: 128px;
	width: 64px;
	height: 64px;
	position: relative;
	top: 25%;
	margin-left: auto;
	margin-right: auto;
}
.starter {
	display: inline-block;
}
#bulbasaur {
	background-image: url("../img/pokemons/kanto/bulbasaur.png");
}
#charmander {
	background-image: url("../img/pokemons/kanto/charmander.png");
}
#squirtle {
	background-image: url("../img/pokemons/kanto/squirtle.png");
}
.starterArea {
	width: 200px;
	height: 100px;
	position: absolute;
	left: 50%;
}

.pokemonArea {
	background: #2C97C1;
	border-radius: 100px;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 10px;
	left: 10%;
	/*opacity: 0.3;*/
}

.pokemonBattle {
	background-position: center bottom;
	background-repeat: no-repeat;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.front {
	bottom: 0;
}
.back {
	bottom: 2%;
}

.frontArea {
	position: absolute;
  right: 0;
  top: 0;
  width: 462px;
  height: 330px;
  text-align: center;
}
.backArea {
  position: absolute;
  bottom: 0;
  width: 440px;
  height: 330px;
  left: 0;
  text-align: center;
}

.decoyImage {
	display: none;
}

.trainerBattle {
	background: url('../img/trainers/battle/red1.png') no-repeat;
	background-size: 256px;
	position: absolute;
	width: 256px;
	height: 256px;
	left: 5%;
	bottom: 0;
}

.animaBottom {
	width: 48px;
	height: 64px;
	animation: playBottom .9s steps(4) infinite;
}
.animaLeft {
	width: 48px;
	height: 64px;
	animation: playLeft .9s steps(4) infinite;
}
.animaRight {
	width: 48px;
	height: 64px;
	animation: playRight .9s steps(4) infinite;
}
.animaTop {
	width: 48px;
	height: 64px;
	animation: playTop .9s steps(4) infinite;
}

@keyframes playBottom {
	from { background-position: 0 0; }
	to { background-position: -192px 0; }
}
@keyframes playLeft {
	from { background-position: 0 -64px; }
	to { background-position: -192px -64px; }
}
@keyframes playRight {
	from { background-position: 0 -128px; }
	to { background-position: -192px -128px; }
}
@keyframes playTop {
	from { background-position: 0 -192px; }
	to { background-position: -192px -192px; }
}

.animaPokeBottom {
	width: 64px;
	height: 64px;
	animation: playPokeBottom .9s steps(2) infinite;
}
.animaPokeLeft {
	width: 64px;
	height: 64px;
	animation: playPokeLeft .9s steps(2) infinite;
}
.animaPokeRight {
	width: 64px;
	height: 64px;
	animation: playPokeRight .9s steps(2) infinite;
}
.animaPokeTop {
	width: 64px;
	height: 64px;
	animation: playPokeTop .9s steps(2) infinite;
}

@keyframes playPokeBottom {
	from { background-position: 0 -128px; }
	to { background-position: 0 -256px; }
}
@keyframes playPokeLeft {
	from { background-position: -64px 0; }
	to { background-position: -64px -128px; }
}
@keyframes playPokeRight {
	from { background-position: -64px -128px; }
	to { background-position: -64px -256px; }
}
@keyframes playPokeTop {
	from { background-position: 0 0; }
	to { background-position: 0 -128px; }
}

.animaThrow {
	animation: playThrow 1s steps(1) infinite;
}
@keyframes playThrow {
	0% { background-image: url('../img/trainers/battle/red1.png'); }
	20% { background-image: url('../img/trainers/battle/red2.png'); }
	40% { background-image: url('../img/trainers/battle/red2.png'); }
	60% { background-image: url('../img/trainers/battle/red3.png'); }
	80% { background-image: url('../img/trainers/battle/red4.png'); }
	100% { background-image: url('../img/trainers/battle/red5.png'); }
}

.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}
.running{
    -webkit-animation-play-state:running;
    -moz-animation-play-state:running;
    -o-animation-play-state:running; 
    animation-play-state:running;
}