$spacing: 10px;

body {
  margin: 0;
  padding: 0;
}
.no-padding {
  padding: 0;
}

.crypto-table {

  td {
    vertical-align: middle !important;
  }

  .marked {
    border: 2px solid black;
  }

  .tile {
    position: relative;

    label {
      font-size: 11px;
      position: absolute;
      top: 5px;
      left: 5px;
    }

    .form-group {
      margin-bottom: 0;
    }

    .form-control {
      border: none;
      padding: 0;
      outline: none;
      max-width: 40px;
      text-align: center;
      border-radius: 0;
      text-transform: uppercase;
    }
  }
}
.stage-menu {
  background: #EEE;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 10px 0;
  padding: 15px 0;

  button, li {
    background: #FFF;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    min-width: 45%;
    margin-bottom: 5px;
    margin-right: 5px;

    a {
      color: inherit;
      outline: none;

      &:focus {
        outline: none;
      }
    }

    .glyphicon {
      font-size: 40px;
    }
  }
}

.stage {
  .back-link {
    margin-top: 15px;
  }
  h2 {
    margin-top: 15px;
  }

  .tile-board {
    display: inline-block;
    width: 100%;
  }

  .stage-bottom {
    display: inline-block;
    width: 100%;
  }
}
