.mapblock {
  display: inline-block;
  min-height: 34px;
  text-align: center;

  &.no-left {
    border-left: none;
  }

  &.no-right {
    border-right: none;
  }

  &.no-top {
    border-top: none;
  }

  &.no-bottom {
    border-bottom: none;
  }

  &.no-border {
    border: none;
  }
}

.land {
  background: #B0FFA3;
}
.road {
  background: #599A88;
  border: 1px solid #FFFF90;
}
.water {
  background: #9FF1D9;
}
.island {
  background: #40FF70;
  border: 1px solid #FFFF90;
}
.seatrail {
  background: #54A3CD;
  border: 1px solid #FFFF90;
}
